<div>
	<%= link_to 'Leave Jaime a message', new_message_path, class: 'button' %>
</div>

<ul class="message-list">
	<% @messages.each do |message| %>
		<li class="card">
			<div class="author">
				<img src="<%= message.author_profile_image_url %>" alt="<%= message.author %>">
				<p><strong><%= message.author %></strong>, <%= message.created_at.strftime("%B %-d, %Y") %></p>
			</div>
			<p><%= simple_format message.content %></p>
			<% if message.owner == cookies.permanent[:jg_author] %>
				<div class="actions">
					<%= link_to 'Edit', edit_message_path(message), class: 'button' %>
					<%= link_to 'Delete', message_path(message), method: :delete, class: 'button destroy' %>
				</div>
			<% end %>
		</li>
	<% end %>
</ul>
