<!DOCTYPE html>
<html>
	<head>
		<!-- <title>Jaime's Guestbook</title> -->
		<title>Congratulations, Jaime!</title>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300italic,400,700' rel='stylesheet' type='text/css'>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= render 'modules/flashes' %>

		<% if current_page?(controller: 'messages', action: 'index') %>
			<%= render 'modules/header' %>
		<% end %>

		<div id="main" class="container">
			<%= yield %>
		</div>

	</body>
</html>
